{% extends 'base.html' %} {% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card mb-4 shadow-sm">
        {% if producto.imagen %}
        <img
          src="{{ producto.imagen.url }}"
          class="img-fluid rounded-top"
          alt="{{ producto.nombre }}"
        />
        {% endif %}
        <div class="card-body">
          <h1 class="card-title">{{ producto.nombre }}</h1>
          <p class="text-muted">Precio: RD$ {{ producto.precio }}</p>
          <p class="card-text">{{ producto.descripcion }}</p>
          <div class="d-grid gap-2">
            <a href="{% url 'agregar_a_carrito' producto.id %}" class="btn btn-primary btn-lg"
              >Añadir al carrito</a
            >
          </div>
        </div>
      </div>
      <a href="{% url 'productos' %}" class="btn btn-outline-secondary">Volver a productos</a>
    </div>
  </div>
</div>
{% endblock %}
